.messageBox {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(200px);
  padding: 10px;
  background: rgb(1, 199, 1);
  border-radius: 8px;
  color: #fff;
  z-index: 100;

  &.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &.Error {
    background: rgb(255, 0, 0);
  }
}
